{
    "openapi": "3.0.0",
    "info": {
        "title": "KPI Laravel API",
        "description": "Multi-tenant HR KPI platform. Covers v1 (existing) and v2 (multi-tenant) endpoints.",
        "contact": {
            "email": "admin@system.local"
        },
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Local / Development"
        }
    ],
    "paths": {
        "/api/v2/audit-logs": {
            "get": {
                "tags": [
                    "Audit Logs"
                ],
                "summary": "List audit logs with filters",
                "operationId": "272fea277c166836936172c41a74c7a5",
                "parameters": [
                    {
                        "name": "module_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "action_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated audit log list"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login with NIP and Nama",
                "operationId": "dd51a484b7fa0f97c7680fdbde14cf5f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nip",
                                    "nama"
                                ],
                                "properties": {
                                    "nip": {
                                        "type": "string",
                                        "example": "EMP-001"
                                    },
                                    "nama": {
                                        "type": "string",
                                        "example": "Budi Santoso"
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "example": "Chrome/Windows"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful — returns bearer token and user"
                    },
                    "422": {
                        "description": "Invalid NIP or Nama"
                    },
                    "429": {
                        "description": "Too many attempts"
                    }
                }
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout and revoke current token",
                "operationId": "df9bdc6c7a6d9f20b983526b2ec0f698",
                "responses": {
                    "200": {
                        "description": "Logout successful"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get authenticated user profile",
                "operationId": "b5de204f5e452ef51327c691aa99e77c",
                "responses": {
                    "200": {
                        "description": "Current user data"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/kpi/assignments": {
            "get": {
                "tags": [
                    "KPI Assignments"
                ],
                "summary": "List assignments",
                "operationId": "7903cb387ea7493f122f3b2e8d0c13dc",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "KPI Assignments"
                ],
                "summary": "Create assignment",
                "operationId": "697bb12fb92b78f045bd541967f58120",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/kpi/assignments/{id}": {
            "get": {
                "tags": [
                    "KPI Assignments"
                ],
                "summary": "Get assignment details",
                "operationId": "e59a183e8fccbd9a6e8e852728d016fc",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/kpi/assignments/{id}/submit": {
            "post": {
                "tags": [
                    "KPI Assignments"
                ],
                "summary": "Employee submits results",
                "description": "Employee submits their KPI values.",
                "operationId": "7a74e21f7a6d325c9503bbf548872ed3",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/kpi/assignments/{id}/approve": {
            "post": {
                "tags": [
                    "KPI Assignments"
                ],
                "summary": "HR/Manager approves",
                "description": "Reviewer approves the KPI submission.",
                "operationId": "d3853d967d0389e0870073f55ffc0a8a",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/kpi/assignments/{id}/reject": {
            "post": {
                "tags": [
                    "KPI Assignments"
                ],
                "summary": "HR/Manager rejects",
                "description": "Reviewer rejects the KPI submission.",
                "operationId": "410d74981cd477d590b07d926fed8ea7",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/kpi/assignments/mine": {
            "get": {
                "tags": [
                    "KPI Assignments"
                ],
                "summary": "Get my own assignments",
                "description": "My assignments — for currently authenticated employee.",
                "operationId": "fa7ec662fe6b75818d7cb7608b111b8f",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/kpi/templates": {
            "get": {
                "tags": [
                    "KPI Templates"
                ],
                "summary": "List KPI templates",
                "operationId": "9a94a9cebcd88c04b239eaa5efe3c149",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "KPI Templates"
                ],
                "summary": "Create KPI template",
                "operationId": "079a27dfc90ea78e755f80c71700ffdb",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/kpi/templates/{id}": {
            "get": {
                "tags": [
                    "KPI Templates"
                ],
                "summary": "Get template with indicators",
                "operationId": "e225ec9fb1d05b8f404fae059b3cc7a2",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "KPI Templates"
                ],
                "summary": "Update KPI template",
                "operationId": "7cbd55a122308a3b03b31739eb21dd3b",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "KPI Templates"
                ],
                "summary": "Soft-delete KPI template",
                "operationId": "fa5e8ae9e0b1edb1e971d77b81ec07e4",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/kpi/templates/{id}/indicators": {
            "post": {
                "tags": [
                    "KPI Templates"
                ],
                "summary": "Add indicator to template",
                "operationId": "699670601d5cc73533fa54e2bebe9462",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/kpi/templates/{templateId}/indicators/{id}": {
            "put": {
                "tags": [
                    "KPI Templates"
                ],
                "summary": "Update indicator",
                "operationId": "f17eb88d67443bf8e1c81d6859a0c165",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "KPI Templates"
                ],
                "summary": "Remove indicator",
                "operationId": "adfda8583aea53e78f3ddc04dca2c634",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/reports/kpi-summary": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "KPI summary aggregated by period",
                "operationId": "1a5c56ec43c2654729b708581dfc3986",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/reports/employee-performance": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Employee performance list",
                "operationId": "0415581a8b5479c94e8932a811091f83",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/reports/department-performance": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Department performance summary",
                "operationId": "1b26fb096c512be363b5b074a0746875",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/reports/export/employee-pdf": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Export employee KPI as PDF",
                "operationId": "99749cc7b773a06c5d30af51008a7403",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/reports/export/summary-pdf": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Export KPI summary as PDF",
                "operationId": "55ab975a7ffe92c9452486af44ee2caa",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/tasks/v2": {
            "get": {
                "tags": [
                    "Tasks"
                ],
                "summary": "List tasks",
                "operationId": "bbb60afd56305d742176f1c0ad6b666d",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Create task",
                "operationId": "a87717531539b37beb1e4012ca87d9e3",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/tasks/v2/{id}": {
            "get": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Get task",
                "operationId": "1867c950f4feb6402273bdaed068d567",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Update task",
                "operationId": "ef1893e73f32eeb2448ccd6a07db73d0",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Delete task",
                "operationId": "bd034f49fd9752d64630c4bf58309f41",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/tasks/v2/mine": {
            "get": {
                "tags": [
                    "Tasks"
                ],
                "summary": "Get my tasks",
                "operationId": "09122c0971e6291eec64e6a3f595d60d",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/tenants": {
            "get": {
                "tags": [
                    "Tenants"
                ],
                "summary": "List all tenants (paginated)",
                "operationId": "671572354240e95ced976177b8636c54",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive",
                                "suspended"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated tenant list"
                    },
                    "403": {
                        "description": "Forbidden — super_admin only"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Tenants"
                ],
                "summary": "Create a new tenant",
                "operationId": "f546e35f79b5090a5c125a950235dbb7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "tenant_code",
                                    "tenant_name"
                                ],
                                "properties": {
                                    "tenant_code": {
                                        "type": "string",
                                        "example": "COMP-001"
                                    },
                                    "tenant_name": {
                                        "type": "string",
                                        "example": "PT Example"
                                    },
                                    "domain": {
                                        "type": "string",
                                        "example": "app.example.com"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive",
                                            "suspended"
                                        ]
                                    },
                                    "contact_email": {
                                        "type": "string",
                                        "example": "admin@example.com"
                                    },
                                    "contact_phone": {
                                        "type": "string",
                                        "example": "+628123456789"
                                    },
                                    "address": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tenant created"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/tenants/{id}": {
            "get": {
                "tags": [
                    "Tenants"
                ],
                "summary": "Get a single tenant with counts",
                "operationId": "44a0a98f22695be71879b8dbfd782057",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant detail"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Tenants"
                ],
                "summary": "Update a tenant",
                "operationId": "d02cbca7264081b1cf0524e4f904f0aa",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "tenant_name": {
                                        "type": "string"
                                    },
                                    "domain": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive",
                                            "suspended"
                                        ]
                                    },
                                    "contact_email": {
                                        "type": "string"
                                    },
                                    "address": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tenant updated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/tenants/{id}/activate": {
            "patch": {
                "tags": [
                    "Tenants"
                ],
                "summary": "Activate a tenant",
                "operationId": "5837fb8ca44c9dfb43542e2d4f48373f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant activated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v2/tenants/{id}/deactivate": {
            "patch": {
                "tags": [
                    "Tenants"
                ],
                "summary": "Deactivate a tenant",
                "operationId": "d4dfc262a69713acce693f2df018e636",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant deactivated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Include: Bearer {token}",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Auth",
            "description": "Login and user session"
        },
        {
            "name": "Tenants",
            "description": "Super Admin: tenant lifecycle management"
        },
        {
            "name": "KPI Templates",
            "description": "Reusable KPI template + indicator CRUD"
        },
        {
            "name": "KPI Assignments",
            "description": "Assign templates to employees, submit and review"
        },
        {
            "name": "Tasks",
            "description": "Task management v1 and v2"
        },
        {
            "name": "Reports",
            "description": "KPI summary and performance reports + PDF export"
        },
        {
            "name": "Audit Logs",
            "description": "Immutable activity log viewer"
        }
    ]
}